# Ignore yt-dlp executable and oter yt-dlp related files
yt-dlp.exe
install_deps.py
help.txt
pyproject.toml
devscripts/
guiForYT-DLP.py - Verknüpfung.lnk

#other dependency scripts
ffmpeg.exe
ffmpeg-8.0.1-essentials_build
ffmpeg-8.0.1-full_build
ffmpeg-release-full.7z
ffmpeg

# Ignore media files
*.mp4
*.mp3

#cahe files
__pycache__
.venv
tests
yt-dlp-cache

#output
Output
yt-dlp-temp
my-output

